set_io data[25] B5
set_io data[24] B4
set_io data[23] A2
set_io data[22] A1
set_io data[21] C5
set_io data[20] C4
set_io data[19] B3
set_io data[18] C3
set_io data[17] A16
set_io data[16] A15
set_io data[15] B15
set_io data[14] B13
set_io data[13] B14
set_io data[12] B12
set_io data[11] B11
set_io data[10] A11
set_io data[9] B10
set_io data[8] A10
set_io data[7] C9
set_io data[6] A9
set_io data[5] B9
set_io data[4] B8
set_io data[3] A7
set_io data[2] B7
set_io data[1] C7
set_io data[0] A6
set_io clk J3
